head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='edge,chrome=1')
    title #{pageTitle}
    meta(name='description', content='#{pageDesc}')
    meta(name='viewport', content='width=640')

    // Schema.org markup for Google+
    meta(itemprop="name" content="#{pageTitle}")
    meta(itemprop="description" content="#{pageDesc}")
    meta(itemprop="image" content="指定顯示圖片")

    // og
    meta(property="og:title" content="#{pageTitle}")
    meta(property="og:description" content="#{pageDesc}")
    meta(property="og:type" content="article")
    meta(property="og:image" content="指定顯示圖片")


    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.css")

